h1:hover{
    color:red;
    text-decoration: underline black;
}
a{
    text-decoration: none;
    font-weight: 900;
}
a:active{
   color: greenyellow;
   text-shadow: 0px 3px 3px red;
}
 img:hover{
    box-shadow: 0px 10px 10px 10px grey;
    color: grey;
}
input:focus{
    background-color: red;
    text-decoration: line-through red;
    
}
a:visited{
    color:aqua
}
 a:link{
    color:red;
 }
 input{
    background-color: none;
    border-radius: 30px;
 }
 input:hover{
   background-color:  rgb(202, 200, 200);
 }